{% extends 'base.html' %}
{% load static %}
{% block title %} New Password Page {% endblock %}

{% block content %}

<center>
    <figure class="figure m-1 px-2">
        <img src="{% static 'logo.jpg' %}" class="figure-img img-fluid rounded" alt="logo"
            style="width: 70px;height: 65px;">
    </figure>
    <h1> New Password</h1>
    <form method="POST" class="row g-3 needs-validation" novalidate>
        {% csrf_token %}
        <div style="width: 1500px;">
            <div class="col-md-4">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Enter your username" name="username" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <br>
            <div class="col-md-4">
                <label for="pw1" class="form-label">Password</label>
                <input type="password" class="form-control" id="pw1" placeholder="Enter Password" name="pw1"
                    required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <br>
            <div class="col-md-4">
                <label for="pw2" class="form-label">Password</label>
                <input type="password" class="form-control" id="pw2" placeholder="Confirm Password" name="pw2" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <br>

            <div class="col-12">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
        </div>

    </form>
</center>
{{ msg }}
{% endblock %}